<head>
  <meta charset="utf-8">
  <title>{{ title or site.title }}</title>
  <meta name="description" content="{{ description or site.description }}">
  <meta name="theme-color" content="#ffffff"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/simple.css">
  {# <script src="assets/scripts/blocker.js"></script> #}
</head>